Body {
  background-color: white;
  margin-right: 25px;
  margin-left: 25px;
}


h1 {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  padding-top: 20px 0;
  font-size: 75px;
  font-weight: bold;
}

#choices {
    text-align: center;
    padding-top: 10px;
}

#choices button {
    padding: 6px;
    background: #f3f3f3;
    border: 1px black solid;
    border-radius: 6px;
    cursor: pointer;
    font-size: 35px;
    font-weight: 700;
}

#choices button:hover {
    background-color: #90ee90
}

#choices button:active {
    color: #9090ee;
}
