body {
  background-color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  padding: 0px;
}

.backgroundImage {
  padding: 0;
    padding-top: 70px;
    padding-right: 0px;
    padding-bottom: 70px;
    padding-left: 0px;
    background-image: url(https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      position: absolute;
      background-color: rgb(238, 238, 238);
      background-attachment: fixed;
      background-size: cover;
      background-origin: padding-box;
      background-clip: border-box;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  text-align: center;
}

.container {
  max-width: 720px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: 700px;
}

.card-main {
  display: block;
  background-color: #fff;
  padding: 30px 40px;
        padding-top: 10px;
        padding-right: 40px;
        padding-bottom: 30px;
        padding-left: 40px;
  position: relative;
  box-shadow: 0px 15px 30px rgba(0,0,0,0.15);
  transition: 0.3s;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
  border-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
  margin-bottom: 60px;
  box-sizing: border-box;
  min-height: 700px;
}

.titleHeader {
  font-size: 50px;
}

.addDeleteButton {
  padding: 0.5rem 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
  border-radius: 0.2em;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
    padding-top: 1em;
    padding-right: 0px;
    padding-bottom: 1em;
    padding-left: 0px;
}

#newBook {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-size: 25px;
  border-radius: 10px;
  border: solid 3px black;
}

#deleteAll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-size: 25px;
  border-radius: 10px;
  border: solid 3px black;
}

#popUp {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  font-size: 18px;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}

.form {
  background-color: #fefefe;
  margin: 15% auto;
    margin-top: 12%;
    margin-right: auto;
    margin-bottom: 15%;
    margin-left: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
}

.formInput-text {
  justify-content: center;
  width: 400px;
}




.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.checkbox-label {

}

.libraryContent {
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;

}

.libraryInfo {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 0 25px;
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 25px;
  font-size: 16px;
}

table {

}
.tableHead {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.bookList {
  border-collapse: collapse;
}
.bookList th{
  padding: 25px;
  background-color: #DCBE87;
}
